extends layout

block head_bootstrap
    
block head_css
    link(rel="stylesheet", href="/js/editor/themes/default/iframe.css")
    link(rel="stylesheet", href="/js/editor/third-party/SyntaxHighlighter/shCoreDefault.css")
    style
        body{padding-top:0; }
        .topbar{ position: static; padding-top:0; }

        #docHeader{ height:20px; padding:3px 10px; border-bottom:solid 1px #ccc; margin-bottom:10px; }
        #docHeader .sitename{ font-size:15px; font-weight:bold; margin-right:20px; }
        #docHeader .docTitle{ font-size:14px; font-weight:bold; color:green; }
        #docHeader .version{color:#555; font-size:13px;}
        #docHeader a.edit{color:#fff; background:#bf1111; padding:1px 2px; font-size:12px; text-decoration:none; margin-left:10px;}
        #docHeader a.edit:hover{background:＃369;}
        #docHeader .btn{padding-left:20px;}
        #docHeader .btn img{width:20px; height:20px; vertical-align: bottom; padding:0; margin:0 3px; cursor:pointer;}
        #pause, #stop{display:none;}
        #loading {display:none; margin-left:10px; background:green; color:#fff;font-size:12px; padding:1px 3px;}
        #docContent {padding:0 10px;}


block title
    |   -- #{doc.title}

block header
    div#docHeader
        span.sitename Doc Us
        span.docTitle [{ #{doc.title} }]
        span.version .ver#{doc.ver}／
            span#patchVersion #{doc.ver}
        a.edit(href="/d/#{doc.slug}") 编辑
        span.btn
            img#play(src="/images/play.png", title="点击回放版本修改过程")
            img#pause(src="/images/pause.png")
            img#stop(src="/images/stop.png")
        span#loading

block content
    #docContent

block footer
    script(type="text/javascript")
        var DocInfo = !{JSON.stringify(doc)};

    script(src="/js/diff_match_patch.js")
    script(src="/js/jquery-1.7.1.min.js")
    script(src="/js/docview.js")

    script(src="/js/editor/third-party/SyntaxHighlighter/shCore.js")
    script(type="text/javascript")
        SyntaxHighlighter.all()
